---

- name: "install base packages"
  hosts: localhost
  connection: local
  tasks:

  - name: set variables
    set_fact:
      apps_directory: ~/Apps
      local_bin_directory: ~/.local/bin
    tags: always

  - name: create directories
    file:
      path: "{{ item }}"
      state: directory
    loop:
    - "{{ apps_directory }}"
    - "{{ local_bin_directory }}"
    tags: always

  - name: install build dependencies
    apt:
      pkg:
      - libtool
      - libtool-bin
      - autoconf
      - automake
      - cmake
      - g++
      - python3-venv
      - pkg-config
    become: true

  - name: install base tools
    apt:
      pkg:
      - htop
      - ripgrep
      - lm-sensors
      - powertop
      - tlp
      - nmap
      - gnome-tweaks
      - flameshot
      - xclip
      - net-tools
      - gpick
      # TODO change with installation => https://docs.docker.com/engine/install/ubuntu/
      - docker.io # TODO add config
        # add dive (docker image inspector) https://github.com/wagoodman/dive?tab=readme-ov-file#installation
      # - yq # TODO install with snap
      - jq
      - mpv
      - fzf
      - socat
      - neofetch
      - stress-ng
      - p7zip
      - inetutils-traceroute
      - xscreensaver
      - xscreensaver-data-extra
      - xscreensaver-gl-extra
      - arandr
      - netstat-nat # maybe move to a 'netowrking' step
      - inetutils-traceroute
      - bat
      - ranger
      - peek
      - xcwd # used in install-i3wm to open kitty in cwd
    become: true

  - name: install latest yq version
    get_url:
      url: https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64
      dest: "{{ local_bin_directory }}/yq"
      mode: '755'
    tags: yq

# TODO add install from source yt-dt

  - name: install gpu packages
    apt:
      pkg:
      - mesa-utils
      - linux-headers-generic
    become: true
